# export GCP_PROJECT=
# export AWS_PROFILE=
# export AWS_REGION=

# (optional) By default, dirname is used as cluster name
# export K8S_CLUSTER=

envrc_common=$(cd .. && find_up .envrc-common)
[ -n "$envrc_common" ] && source $envrc_common
